@mixin Inter ($weight,$size){
    font-size: $size;
    font-weight: $weight;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    background: rgb(0, 0, 0);
    &_wrapper{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 1087px;
        height: 32px;
        &_nav{
            display: flex;
            column-gap: 20px;
            width: 560.3px;
            height: 20px;
            &_link{
                text-decoration: none;
                color: #fff;
                @include Inter(200,16px);
                transition-duration: 0.8s;
                &:hover{
                    color: #FFD76E;
                    transition-duration: 0.6s;
                }
            }
        }
    }
}
.support{
    height: 725px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(/img/Rectangle\ 130.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    &_wrapper{
        width: 989px;
        height: 526px;
        margin-left: 141.9px;
        &_title{
            @include Inter(400,128px);
            color: #fff;
        }
        &_sub-title{
            padding-top: 6px;
            @include Inter(400,64px);
            color: #fff;
        }
        &_sub-title2{
            width: 390px;
            @include Inter(400,24px);
            line-height: normal;
            text-align: justify;
            margin-top: 30px;
            color: #fff;
        }
        &_btn{
            width: 199.8px;
            height: 60px;
            border: none;
            border-radius: 10px;
            background: #FFD76E;
            margin-top: 48px;
            @include Inter(400,24px);
        }
    }
}
.about-us{
    height:1211.03px;
    background: black;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    &_text{
        color: #FFD76E;
        text-align: center;
        width: 609px;
        padding-top: 40px;
        @include Inter(400,48px);
    }
    &_group{
        position: absolute;
        top:723px;
        left: 0;
    }
    &_sub-title{
        width: 505px;
        text-align: justify;
        color: #fff;
    }
}
.city{
    height: 297px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/img/Rectangle\ 11.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &_title{
        @include Inter(700,24px);
        padding-top: 72px;
    }
    &_title2{
        @include Inter(400,24px);
        width: 381px;
        text-align: center;
        padding-top: 25.3PX;
    }
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 644px;
    background: black;
    column-gap: 170px;
    &_img{
        width: 396px;
        height: 460px;
        background: url(/img/Rectangle\ 4\ \(1\).png);
        margin-left: 144px;
        border: 2px solid #FFD76E;
    }
    &_text-container{
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 625px;
        height: 463.2px;
        &_title{
            @include Inter(400,73px);
            color: #FFD76E;
        }
        &_sub-title{
            width: 500px;
            text-align: justify;
            padding-top: 46px;
            @include Inter(400,24px);
            color: white;
        }
        &_btn{
            width: 200px;
            height: 60px;
            border-radius: 10px;
            background: #FFD76E;
            border: none;
            margin-top: 132.72px;
        }
    }
}
.army{
    height: 737.231px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #050404;
    &_title{
        color: #FFD76E;
        text-align: center;
        @include Inter(400,64px)
    }
    &_support-contnainer{
        display: flex;
        width: 1012.3px;
        height: 528.86;
        column-gap: 222.8px;
        margin-top: 40px;
        &_card{
            display: flex;
            align-items: end;
            width: 395.177px;
            height: 528.86px;
            border-radius: 32px;
            border: 3px solid #FFD76E;
            &_hint{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 395.177px;
                height: 215.775px;
                border-radius: 32px;
                background: rgba(255, 255, 255, 0.90);
                @include Inter(400,32px)

            }
        }
    }
}
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1362px;
    background: url(/img/Rectangle\ 132.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:bottom;
    &_title{
        text-align: center;
        @include Inter(600,64px);
        padding-top: 64px;
        color: #FFD76E;
    }
    &_slider{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1134px;
        height: 345.27px;
        margin-top: 30px;
        &_card-cont{
            display: flex;
            justify-content: space-between;
            width: 1041.79px;
            height: 100%;
            &_card{
                display: flex;
                flex-direction: column;
                align-items: center;
                Width:301.79px;
                Height:100%;
                &_img{
                    Width:301.79px;
                    Height:294.32px;
                    background: #FFF;
                }
                &_title{
                    @include Inter(400,24px);
                    color: #FFF;
                    padding-top: 22.51px;
                }
            }
        }
    }
    &_title2{
        text-align: center;
        @include Inter(600,64px);
        padding-top: 64px;
        color: #FFD76E;
    }
    &_slider2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1134px;
        height: 345.27px;
        margin-top: 30px;
        &_card-cont2{
            display: flex;
            justify-content: space-between;
            width: 1041.79px;
            height: 100%;
            &_card2{
                display: flex;
                flex-direction: column;
                align-items: center;
                Width:301.79px;
                Height:100%;
                &_img2{
                    Width:301.79px;
                    Height:294.32px;
                    background: #FFF;
                }
                &_title2{
                    @include Inter(400,24px);
                    color: #FFF;
                    padding-top: 22.51px;
                }
            }
        }
    }
}
.achievements{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:888px;
    background:black;
    &_name{
        @include Inter(400,64px);
        color: #FFD76E;
        text-align: center;
        padding-top: 54px;
    }
    &_wrapper{
        display: flex;
        justify-content: space-between;
        width: 1011px;
        height: 621px;
        margin-top: 24px;
        &_left{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 308px;
            height: 100%;
            &_img{
                height: 250px;
                width: 100%;
                background: url(/img/Rectangle\ 15.png);
            }
            &_text-cont{
                height: 164px;
                width: 100%;
                display: flex;
                align-items: center;
                border: 2px solid #FFD76E;
                color: white;
                @include Inter(400,20px);
                text-align: justify;
            }
            &_bayraktar{
                width: 260px;
                height: 106px;
                background: url(/img/Rectangle\ 21.png);
            }
        }
        &_center{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 312px;
            height: 100%;
            &_text2{
                display: flex;
                align-items: center;
                width: 312px;
                height: 330px;
                @include Inter(400,20px);
                color: white;
                text-align: justify;
                border: 2px solid #FFD76E;
            }
            &_humanitarian{
                width: 312px;
                height: 250px;
                background: url(/img/Rectangle\ 16.png);
            }
        }
        &_right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 312px;
            height: 100%;
            &_helicopter{
                width: 312px;
                height: 173px;
                background: url(/img/Rectangle\ 19.png);
            }
            &_text3{
                display: flex;
                align-items: center;
                width: 312px;
                height: 436px;
                border: 2px solid #FFD76E;
                @include Inter(400,20px);
                color: #fff;
                text-align: justify;
            }
        }
    }
}
.requisites{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 887px;
    background: #050404;
    &_title{
        padding-top: 49.94px;
        @include Inter(400,64px);
        color: #FFD76E;
    }
    &_card{
        display: flex;
        flex-direction: column;
        width: 752px;
        height: 499.437px;
        border-radius: 8px;
        border: 4px solid #FFD76E;
        background: #FFF;
        margin-top: 100.87px;
        padding: 36.98px 0 0 15px;
        row-gap: 31.96px;
        &_text-container{
            display: flex;
            flex-direction: column;
            row-gap: 16.98px;
            &_tex1{
                @include Inter(300,20px);
                color: #FFD76E
            }
            &_tex2{
                @include Inter(500,20px);
                color: black;
            }
        }
    }
}
.first{
    background: url(/img/Rectangle\ 5\ \(1\).png);
}
.second{
    background: url(/img/Rectangle\ 7.png);
}
.footer{
    height: 356px;
    background: url(/img/Rectangle\ 132\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    &_title{
        @include Inter(500,48px);
        text-align: center;
        padding-top: 132px;
        color: #FFF;
    }
    &_img{
        position: absolute;
        top: 8223px;
        left: 744px;
    }
    &_social{
        position: absolute;
        top: 8060px;
        left: 1720px;
        width: 64px;
        height: 266px;
        justify-content: center;
    }
}